/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  background-color: rgb(160, 158, 134);
  padding: 0.5rem;
}
	
div.wrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #464a33;
  box-shadow: 0 10px 10px rgba(49, 47, 47, 0.401);
  background-color: white;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color: #f7f2d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  
}

header h1 {
  font-size: 300%;
   font-family: "Limelight", serif;
   text-decoration: none;
   font-style: normal;
   padding-bottom: 10px;
}

/* ⬇ The h1's link */
header h1 a {
  text-decoration: none;
  color: #323719;
}

header h2 {
  
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
  transition: all 0.75s ease-in-out;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: rgba(135, 89, 47, 0.57);
  border: 1px solid;

}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 15px;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 175%;
  border: 3px solid rgba(126, 115, 104, 0.57);
  padding: 1rem 0.5rem;
  
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 130%;
  line-height: 1.5;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  background-color: #a9a2929e;
  border: 5px solid #323719;
  padding-left: 10px;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-column: 4/5;
  grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column: 4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  text-transform: uppercase;
  padding: 1rem 1rem;
  letter-spacing: 1px;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left: 1rem;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
  
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  color: #2c3e50;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  color: #fff;
  background-color: #8e7c70;
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  grid-column: 1/5;
  grid-row: 3/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  background-color: #d4d5cc;
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  
}

/* ⬇ Name of each building */
section.campus h3 {
  font-size: 18px;         
  padding: 2rem 1rem;       
  color: #2c3e50;        
  font-weight: 550;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
  margin-bottom: 1rem;
}

/* ⬇ Picture of each building */
section.campus img {
	border: 3px solid rgb(37, 37, 83); /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
  margin-bottom: 0.5rem;
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  display: block;
  text-align: center;
  padding: 2px 5px;
}



/* FOOTER
---------------------------------------*/

footer {
  background-color: #f7f2d5;
  border-top: 3px solid rgb(37, 37, 83); ;
  align-items: center;
  padding: 30px 20px;
}

footer small { 
  font-size: 14px;         
  line-height: 1.6;       
  color: #454242;   
}

/* ⬇ The link in the footer */
footer a {
  color: #1e281f;  
  font-weight: bold;   
  font-size: 125%;  
  text-transform: uppercase;   
  text-decoration: none;    
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

